should get the cheapest and most expensive item
    const expectedMin = {
      id: 1,
      categoryId: 1,
      quantity: 1,
      productId: 1,
      cost: 1,
      description: 'Apples',
    };
    const expectedMax = {
      id: 2,
      categoryId: 1,
      quantity: 10,
      productId: 2,
      cost: 2,
      description: 'Banannas',
    };