`should display warning if the user enters spaces and no value`

// what if a user enters a string of just spaces
    // create a test for the failing condition
    // then fix it
    const onSearch = jest.fn();

    const { getByLabelText } = render(
      <SearchBar initialQuery="Initial Query" onSearch={onSearch} />
    );

    fireEvent.change(getByLabelText(/search:/i), {
      target: { value: ' ' },
    });
    fireEvent.submit(getByLabelText(/search:/i));

    expect(getByLabelText('search-term-required')).toHaveTextContent(
      'Please enter search field'
    );
    expect(onSearch).not.toBeCalled();